@import "tailwindcss";
@import "@nuxt/ui";

@source "../components/**/*.{vue}";

@theme static {
  --ui-color-primary-50: var(--color-rose-50, oklch(96.9% 0.015 12.422));
  --ui-color-primary-100: var(--color-rose-100, oklch(94.1% 0.03 12.58));
  --ui-color-primary-200: var(--color-rose-200, oklch(89.2% 0.058 10.001));
  --ui-color-primary-300: var(--color-rose-300, oklch(81% 0.117 11.638));
  --ui-color-primary-400: var(--color-rose-400, oklch(71.2% 0.194 13.428));
  --ui-color-primary-500: var(--color-rose-500, oklch(64.5% 0.246 16.439));
  --ui-color-primary-600: var(--color-rose-600, oklch(58.6% 0.253 17.585));
  --ui-color-primary-700: var(--color-rose-700, oklch(51.4% 0.222 16.935));
  --ui-color-primary-800: var(--color-rose-800, oklch(45.5% 0.188 13.697));
  --ui-color-primary-900: var(--color-rose-900, oklch(41% 0.159 10.272));
  --ui-color-primary-950: var(--color-rose-950, oklch(27.1% 0.105 12.094));
}
